.card-body{
        h5{
            display: inline-block;
        }
        button{
            border:none;
            background-color: white;
        }
        i{
            color:red;
            display: inline;
            position: absolute;
    top: 1.5rem;
    right: 2rem;
        }
        h6{
        opacity: 0.3;
    }
    }

#results{
    padding-bottom: 5rem;
    .card{
        //width: 90vw;
    }
}

#sidebar-wrapper{
    h3{
    margin-top: 1rem;
    padding-left: 1rem;
    display: inline-block;
    }
    .card{
        width: 20rem;
        margin: 0 2rem;
    }
    #menu-close{
        margin-left: 7rem;
        margin-bottom: 9px;
   
    }
    i.fa-heart{
            color:red;
            display: inline;
            position: absolute;
    top: 1.5rem;
    right: 2rem;
        }
    .card-img-top{
    margin-bottom: -2rem;
    } 
    h6{
        opacity: 0.3;
    }
}
@media (min-width: 768px) {
  #results{
    .card{
       // width: 65vw;
    }
}
}