form{

    #categories,
    #textArea{
        display: none;
        margin-left: 1rem;
    }
    #categoriesAvailable{
        width: 12rem;
    }

     #textInput,
   #inputHelpBlock{
        width: 70vw;
    }
    
}

@media (min-width: 767px) {
    form{
        #textInput,
        #inputHelpBlock{
        width: 50vw;
    }
    }
   
}