@use 'forms';
@use 'cards';
@use 'sidebar';


.main{
 border-right: 1px solid rgba(0,0,0,.125);
}
#favourites{
    min-height: 100vh;
}

.alert{
    max-width: 90vw;
}
@media (min-width: 768px) {
  .alert{
    max-width: 65vw;
}
}